[Unit]
Description=Redis Server
After=network.target

[Service]
User=redis
ExecStart=/bin/redis-server "/etc/redis.conf"
ExecStop=/bin/kill -9 $MAINPID

[Install]
WantedBy=multi-user.target
